#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 100vh;
}

.table {
  width: 100vw;
}
