name: Test

permissions:
  contents: write

on: [push]

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  rust-test:
    strategy:
      matrix:
        include:
          - target: x86_64-apple-darwin
            os: macos-13
          - target: aarch64-apple-darwin
            os: macos-14
          - target: x86_64-pc-windows-gnu
            os: windows-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: cargo test
        run: |
          cargo test
      - name: cargo run
        run: |
          cargo run
      - name: test cli
        run: |
          cd easy-archive
          curl -L -o mujs.tar.xz https://github.com/ahaoboy/mujs-build/releases/download/v0.0.11/mujs-${{ matrix.target }}.tar.xz
          cargo run -- ./mujs.tar.xz ./mujs
          ls -lh ./mujs
          echo "console.log(1+1)" > ./a.js
          ./mujs/mujs ./a.js

          curl -L -o 7z.tar.xz https://github.com/ip7z/7zip/releases/download/24.09/7z2409-linux-x64.tar.xz
          cargo run -- ./7z.tar.xz ./7z

          curl -L -o bun.zip https://github.com/oven-sh/bun/releases/latest/download/bun-darwin-x64.zip
          cargo run -- ./bun.zip ./bun

          curl -L -o spidermonkey.tar.xz https://github.com/ahaoboy/spidermonkey-build/releases/download/v0.1.5/spidermonkey-x86_64-unknown-linux-gnu.tar.xz
          cargo run -- ./spidermonkey.tar.xz ./spidermonkey

          curl -L -o v8.tar.xz https://github.com/ahaoboy/v8-build/releases/download/v0.1.6/v8-x86_64-unknown-linux-gnu.tar.xz
          cargo run -- ./v8.tar.xz ./v8

          curl -L -o zig.tar.xz https://ziglang.org/download/0.13.0/zig-linux-x86_64-0.13.0.tar.xz
          cargo run -- ./zig.tar.xz ./zig

          curl -L -o bun-profile.zip https://github.com/oven-sh/bun/releases/download/bun-v1.2.3/bun-linux-aarch64-musl-profile.zip
          cargo run -- ./bun-profile.zip ./bun-profile
  js-test:
    strategy:
      matrix:
        include:
          - target: x86_64-apple-darwin
            os: macos-13
          - target: aarch64-apple-darwin
            os: macos-14
          - target: x86_64-pc-windows-gnu
            os: windows-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: latest
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      # - name: Install latest nightly
      # uses: actions-rs/toolchain@v1
      # with:
      #   toolchain: nightly
      #   override: true
      - name: vitest
        run: |
          # cargo install wasm-pack
          pnpm install
          pnpm run test:run
      - name: test cli
        run: |
          bun --version
          cd easy-archive-wasm
          pnpm run build
          curl -L -o mujs.tar.xz https://github.com/ahaoboy/mujs-build/releases/latest/download/mujs-${{ matrix.target }}.tar.xz
          bun ./cjs/cli.js ./mujs.tar.xz ./mujs
          ls -lh ./mujs
          echo "console.log(1+1)" > ./a.js
          ./mujs/mujs ./a.js

          curl -L -o 7z.tar.xz https://github.com/ip7z/7zip/releases/download/24.09/7z2409-linux-x64.tar.xz
          bun ./cjs/cli.js ./7z.tar.xz ./7z

          curl -L -o bun.zip https://github.com/oven-sh/bun/releases/latest/download/bun-darwin-x64.zip
          bun ./cjs/cli.js ./bun.zip ./bun

          curl -L -o spidermonkey.tar.xz https://github.com/ahaoboy/spidermonkey-build/releases/download/v0.1.5/spidermonkey-x86_64-unknown-linux-gnu.tar.xz
          bun ./cjs/cli.js ./spidermonkey.tar.xz ./spidermonkey

          curl -L -o v8.tar.xz https://github.com/ahaoboy/v8-build/releases/download/v0.1.6/v8-x86_64-unknown-linux-gnu.tar.xz
          bun ./cjs/cli.js ./v8.tar.xz ./v8

          curl -L -o zig.tar.xz https://ziglang.org/download/0.13.0/zig-linux-x86_64-0.13.0.tar.xz
          bun ./cjs/cli.js ./zig.tar.xz ./zig

          curl -L -o bun-profile.zip https://github.com/oven-sh/bun/releases/download/bun-v1.2.3/bun-linux-aarch64-musl-profile.zip
          bun ./cjs/cli.js ./bun-profile.zip ./bun-profile
